@model AspCore.Web.Models.Course
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">

    </div>
    <h3>
        @Model.Name
    </h3>
    <h2>
        Hope you will enjoy the course!
    </h2>
</body>
</html>
