@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Thank you,  @Model.Name</h2>
    <hr />

    @if (Model.WillAttend==true)
    {
        @:Happy to see you among us!
    }
    else
    {
        @:Sorry, you won't catch us :(
    }

    List the <a asp-action="List" class="nav-link">attendees</a> 
</body>
</html>
