@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h2>@Model.Name</h2>
    <hr />

    @if (Model.WillAttend==true)
    {
        @:Happy to see you among us!
    }
    else
    {
        @:Sorry, you won't catch us :(
    }

    List the <a asp-action="List">attendees</a> 
</body>
</html>
